<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/css/font-awesome.min.css">


</head>

<body>

<!--  Inicio Main -->
<main role="main" class="main-admin">
    <!-- Header -->
    <header class="principal-header">
        <!--  Navegacion.-->
        <nav class="navbar navbar-default" role="navigation">
          <!-- El logotipo y el icono que despliega el menú se agrupan
               para mostrarlos mejor en los dispositivos móviles -->
          <div class="navbar-header">
              <img src="../assets/images/logotipo/64.png" class="admin-menu__img-logo"alt="">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
              <span class="sr-only">Desplegar navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            </a>
          </div>

          <!-- Agrupar los enlaces de navegación, los formularios y cualquier
               otro elemento que se pueda ocultar al minimizar la barra -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Enlace #1</a></li>
              <li><a href="#">Enlace #2</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Turnos <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Crear Turnos</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Ver listado de turnos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Objetivos <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Crear Objetivos</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Ver listado de Objetivos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Empleados <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Crear empleado</a></li>
                  <li class="divider"></li>
                  <li><a href="../empleados/detalle.html">Ver listado de empleados</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
              </div>
              <button type="submit" class="btn btn-default">Enviar</button>
            </form> -->

            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#">Enlace #3</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <strong class="admin-menu__user-name"><i class="glyphicon glyphicon-user"></i> Sr. Jose Barraza</strong> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mi perfil</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
            </div>
        </nav>
        <!--  Navegacion.-->
    </header>
    <!-- Header -->

    <!--  Section Content Yield-->
        <section class="content">
            <div class="jumbotron">
                <div class="row">
                    <!--  Formulario CREATE or UPDATE-->
                    <div class="box-crud__container">
                        <h1> Alta de Turnos</h1>

                         <div class="col-sm-6 col-sm-offset-3">
                            <form action="" class="box-crud__container--form">
                                <label for=""> Fecha de Inicio del Mes: </label>
                                <input type="text" placeholder="ej: 01/01/2016">
                                <label for=""> Fecha Finalizacion del Mes: </label>
                                <input type="text" placeholder="ej: 28/01/2016">
                                <label for=""> Horario de Inicio de la Jornadas: </label>
                                <input type="text" placeholder="ej: 22hs">
                                <label for=""> Horario de Finalizacion de la Jornadas: </label>
                                <input type="text" placeholder="ej: 06">
                                <label for=""> Asistencia </label>
                                <input type="radio" value="true">SI
                                <input type="radio" value="false">NO
                                <br>

                                <label for=""> Jornadas </label>
                                <select class="" name="">
                                    <option value="1">Matutino</option>
                                    <option value="2">Vespertino</option>
                                    <option value="3">Diurno</option>
                                </select>
                          </form>
                          <br>
                               <div>
                                <label for=""> Objetivos </label>
                                <select class="" name="">
                                    <option value="1">Santiago 81</option>
                                    <option value="2">Corriente 221</option>
                                    <option value="3">Marco Paz 123</option>
                                    <option value="3">Laprida 623</option>
                                    <option value="3">Salta 89</option>
                                </select>
                                <input type="submit" value="Dar de alta al Turno" class="btn btn-success">
                                </div>
                            
                        </div>
                    </div>
                    <!--  Formulario CREATE or UPDATE-->
                </div>
            </div>
        </section>
    <!--  Section Content Yield-->
</main>

<!-- Fin Main -->


<!--  SCRIPTS-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
<!--  SCRIPTS-->


</body>

</html>
