
    <!--  Section Content Yield-->
        <section class="content">

            <section class="box-objetivo-detalle__container">
                <!-- <div class="box-detalle__item--objetivo"> -->

                    <!--  turnos-->

                    <div class="col-sm-12 col-md-6 col-md-offset-3 box-objetivo">
                        <div class="thumbnail">
                           <h3 style="text-transform: uppercase;">Asignado a Objetivo: Santiago 81</h3>
                            <img src="../assets/images/objetivos/santiago81.jpg" alt="...">
                            <div class="caption">

                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-barcode"></i>
                                        <strong>Empleado: </strong> Jesus Figueroa
                                    </li>
                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <strong>Inicio: </strong> 22-03-16
                                    </li>
                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                        <strong>Finaliza </strong> 23-03-16
                                    </li>
                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-usd"></i>
                                        <strong>Hora de Inicio: </strong>22:00

                                    </li>
                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-pushpin"></i>
                                        <strong>Hora De Finalizacion : </strong>00:00


                                    <li class="list-group-item">
                                        <i class="glyphicon glyphicon-wrench"></i>
                                        <strong>Jornada: </strong> Nocturno
                                    </li>
                                </ul>
                                <p>
                                    <a href="./objetivos/detalle.html" class="btn btn-primary" role="button">Editar</a>
                                    <a href="./objetivos/detalle.html" class="btn btn-danger" role="button"> Eliminar</a>
                                </p>
                            </div>
                        </div>
</div>



            </section>

        </section>
    <!--  Section Content Yield-->
