
    <!--  Section Content Yield-->
        <section class="content">

            <section class="box-objetivo-detalle__container">



                <!--  Detalle informacion-->
                <div class="box-detalle__item--informacion col-sm-12 col-md-12">

<div class="table-responsive">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><strong>Turnos del mes</strong></div>
                                <!-- Table -->
                                <table class=" table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Empleado</th>
                                            <th>Objetivo</th>
                                            <th>Inicio</th>
                                            <th>Finalizacion</th>
                                            <th>Hora Entrada</th>
                                            <th>Hora Salida</th>
                                            <th>Jornada</th>
                                            <th>Ver Detalle Turno</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--  Turno #-->
                                        <tr>
                                            <td>Jesus Figueroa</td>
                                            <td>Santiago 81</td>
                                            <td>03/10/2016 20:00:00</td>
                                            <td>04/10/2016 20:00:00</td>
                                            <td>20:00:00</td>
                                            <td>00:00:00</td>
                                            <td>Nocturno</td>

                                            <td>
                                                <a href="#">
                                                    <strong>
                                                        <a href="../objetivos/detalle.html" class="btn btn-primary" role="button">Ver detalles</a>
                                                    </strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <!--  Turno #-->
                                           <tr>
                                            <td>Jesus Figueroa</td>
                                            <td>Santiago 81</td>
                                            <td>03/10/2016 20:00:00</td>
                                            <td>04/10/2016 20:00:00</td>
                                            <td>20:00:00</td>
                                            <td>00:00:00</td>
                                            <td>Nocturno</td>

                                            <td>
                                                <a href="#">
                                                    <strong>
                                                        <a href="../objetivos/detalle.html" class="btn btn-primary" role="button">Ver detalles</a>
                                                    </strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <!--  Turno #-->

                                        <!--  Turno #-->
<tr>
                                            <td>Jesus Figueroa</td>
                                            <td>Santiago 81</td>
                                            <td>03/10/2016 20:00:00</td>
                                            <td>04/10/2016 20:00:00</td>
                                            <td>20:00:00</td>
                                            <td>00:00:00</td>
                                            <td>Nocturno</td>

                                            <td>
                                                <a href="#">
                                                    <strong>
                                                        <a href="../objetivos/detalle.html" class="btn btn-primary" role="button">Ver detalles</a>
                                                    </strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <!--  Turno #-->
                                        <tr>
                                            <td>Jesus Figueroa</td>
                                            <td>Santiago 81</td>
                                            <td>03/10/2016 20:00:00</td>
                                            <td>04/10/2016 20:00:00</td>
                                            <td>20:00:00</td>
                                            <td>00:00:00</td>
                                            <td>Nocturno</td>

                                            <td>
                                                <a href="#">
                                                    <strong>
                                                        <a href="../objetivos/detalle.html" class="btn btn-primary" role="button">Ver detalles</a>
                                                    </strong>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Tabla Turnos -->

                    </div>
                    <!--  Detalle informacion-->
            </section>

        </section>
    <!--  Section Content Yield-->
</main>

<!-- Fin Main -->


<!--  SCRIPTS-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
<!--  SCRIPTS-->


</body>

</html>
